.env
.venv
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
mlruns/
.dvc/config.local
/src/data/raw/*
!/src/data/raw/.gitkeep
# Ignore all .env.* files (e.g. .env.k6, .env.local) but allow .example templates
.env.*
!.env.*.example
